.modal {

  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 3px;
  background-color: #e3e3e3;
}

.ticker-info {
  padding: 20px;
  background-color: #fff;
  color: #000;
}

.close-modal-btn {
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 16px;
  width: 80px;
  margin: 10px auto 0;
}

.close-modal-btn:hover {
  color: #61dafb;
  background-color: #000;
}